<!-- <form action="/answer" method="get">
  <input type="text" name="query">
  <input type="submit">
</form>
 -->
 <form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="message" placeholder="">
  <input type="submit" value="Go on!">
</form>
